.message-input {
  border: 2px solid #999;
  margin: auto;
  padding: 50px 20px;
  width: 80%;
  background-color: #eeeeee;
}

.message-input-text {
  width: 89%;
  height: 60px;
}

.message-input-button {
  width: 5%;
  margin-left: 20px;
  height: 60px;
  border: 2px solid #999;
  background-color: #efefef;
  cursor: pointer;
}

.message-input-button:hover {
  background-color: #588dfd;
  border: 2px solid #087cfd;
  color: white;
}
